shadow-in = 0 0 0 0 color-gray-medium, 0 0 0 0 color-white, inset 4px 4px 10px -4px color-gray-medium, inset -6px -6px 6px -6px color-white
shadow-out = 2px 2px 3px -1px color-gray-medium, -2px -2px 4px 1px color-white, inset 0 0 0 0 color-gray-medium, inset 0 0 0 0 color-white

.social-link
    align-items: center
    background: color-off-white
    border-radius: border-radius-round
    box-shadow: shadow-in
    display: inline-flex
    flex: 0
    height: element-sizing-button
    justify-content: center
    overflow: hidden
    transition-duration: 100
    width: @height

    &:hover
        box-shadow: shadow-out
        background: color-gray-medium

        path
            fill: color-off-white

    path
        fill: color-gray-medium

.round
    height: 45vmin
    width: @height
    display: inline-flex
    justify-content: center
    align-items: center
    position: relative

    &::after
        content: ""
        display: block
        height: "calc(%s + %s * 2)" % (@height sizing-LG)
        width: @height
        position: absolute
        top: - sizing-LG
        left: @top
        background: bg-soft-gradient
        border-radius: border-radius-round
        box-shadow: shadow-out
        z-index: -1

    &__inner
        border-radius: border-radius-round
        height: 100%
        object-fit: cover
        overflow: hidden
        position: relative
        width: 100%
        z-index: 1

        &--fail
            align-items: center
            display: flex
            flex-direction: column
            height: 100%
            justify-content: center
            left: 0
            position: absolute
            text-align: center
            top: 0
            z-index: 0

.square
    offset = sizing-LG
    position: relative
    border-radius: border-radius-LG
    margin: 50px
    height: 10vmin
    width: @height

    &--small
        cursor: pointer

        &::after
            box-shadow: shadow-in

        & ^[0]__img
            opacity: 0.7

            &:hover
                opacity: 0.9

    &--large
        transform: scale(1.2)
        z-index: 1

        &::after
            box-shadow: shadow-out

        .tooltip
            opacity: 0

    &::after
        background: bg-soft-gradient
        border-radius: @border-radius
        content: ""
        display: block
        height: "calc(%s + %s * 2)" % (@height offset)
        left: - offset
        position: absolute
        top: @left
        width: @height
        z-index: -1

    &__img
        object-fit: cover
        height: 100%
        border-radius: @border-radius
        width: 100%

.tooltip
    bg = color-off-white
    display: inline-flex
    font-size: font-size-XL
    left: 50%
    opacity: 0
    padding: sizing-MD sizing-LG
    position: absolute
    text-align: center
    top: 0
    transform: translate(-50%, -100%)
    width: rem(200)
    z-index: 1

    &--visible
        opacity: 1

    &::after
        display: block
        content: ""
        background: bg
        height: 100%
        width: 100%
        position: absolute
        left: 0
        top: 0
        z-index: -2
        border-radius: border-radius-SM
        box-shadow: shadow-out

    &::before
        display: block
        height: rem(25)
        width: @height
        content: ""
        background: bg
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 50%) rotate(45deg)
        z-index: -1

.social-media
    padding: sizing-LG
    position: fixed
    right: 0
    top: 0

    > *
        margin-inline-start: sizing-LG

.button
    background: color-off-white
    border-radius: border-radius-MD
    box-shadow: shadow-in
    margin-top: sizing-MD
    padding: sizing-MD sizing-LG

    &:hover
        background: color-gray-medium
        box-shadow: shadow-out
        color: color-off-white

.layout
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    min-height: 100vh

    &__video
        position: relative

.active-img
    cursor: pointer
    left: 0
    object-fit: contain
    position: absolute
    top: 0
    transform: translateY(-100%)
    z-index: 10

.options-list
    display: flex