.book
    padding: 0 20px
    display: inline-flex
    flex-direction: column
    text-align: center
    flex-grow: 0

    &:hover
        .book__img > img
            top: 0

    &__img
        padding: 0 10px
        position: relative
        margin-bottom: 5px
        overflow: hidden

        >img
            position: relative
            top: 20%
            box-shadow: 3px 3px 4px color-green

        &::after
            content: ""
            display: block
            background: color-yellow
            width: 100%
            height: 30%
            position: absolute
            bottom: 0
            left: 0
            z-index: -1
            border-top-right-radius: 5px
            border-top-left-radius: 5px

    >button
        text-transform: uppercase
        padding: 5px
        border: 1px solid color-yellow
        background: color-green

        &:hover
            background: color-green-light

.user
    background: url("../img/user.png"), color-brown
    background-size: cover
    display: flex
    flex-direction: column
    text-align: center
    width: 210px
    height: 293px
    align-items: center
    border-radius: 10px
    margin-top: 40px

    &__highlight
        box-shadow: 0 0 10px color-green-light

    > h3
        padding: 10px 20px
        background: color-green
        text-transform: uppercase
        border: 1px solid color-yellow
        flex-grow: 0
        transform: translateY(-50%)

    &__books
        display: flex
        padding: 20px
        flex-wrap: wrap

        >img
            flex-basis: 50%
            flex-shrink: 0
            box-shadow: -4px 4px 2px color-green
            border: 1px solid transparent

            &:hover
                border: 1px solid color-red

            &:nth-child(3)
                transform: translate(50%, -25%)
