/*
    This file will be converted
    with Webpack into plain CSS,
    it includes all the styles we might need.

    Don't worry about the rest of .styl
    files, are just small parts to create
    the style for the App.
*/
@require "./helpers/reset"
@require "./helpers/mixins"
@require "./helpers/miscelanous"
@require "./components/*"

:root
    scrollbar

// General Elements Styling
html
    font-family: font-family-default, font-family-serif
    max-width: 100vw
    min-height: 100vh
    scroll-behavior: smooth

    body
        background: url("../img/bg.png"), color-green
        background-size: cover
        background-position: center center
        font-family: @font-family
        height: 100%
        line-height: line-height-LG
        max-width: @max-width
        min-height: 100vh
        overflow: hidden
        scroll-behavior: @scroll-behavior
        width: 100vw

        scrollbar
        *
            color: color-yellow
            line-height: inherit
            scroll-behavior: @scroll-behavior

h1
h2
h3
h4
h5
h6
    font-family: font-family-title, font-family-sans

#debakatas
    width: 100%
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center